html{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-size:0;
}

body{
	position:relative;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background: #41295a;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

*{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

h1{
	font-family:'Monofett',cursive;
	font-size:4em;
	color:#ff9800;
	padding:0;
	margin:1%;
}

h2{
	font-family:'Quicksand',sans-serif;
	font-size:1.2em;
	font-weight:400;
	color:white;
	line-height:2em;
	margin:10% 0 0 0;
}

h3{
	font-family:'Quicksand',sans-serif;
	font-size:0.9em;
	font-weight:300;
	color:white;
}

p{
	font-family: 'Quicksand', sans-serif;
	font-size:2em;
	font-weight:300;
	color:white;
}

a{
	font-family: 'Quicksand';
	text-decoration:none;
	color:#ff9800;
}

pre{
	color:black;
	line-height:1.7em;
	background-color:white;
	margin:4% auto;
	width:100%;
	border-radius:5px;
	text-align:left;
	padding:1%;
	height:auto;
	overflow-x:scroll;
}

code{
	color:#66ffee;
	font-size:1.3em;
	letter-spacing: 0.1em	
}

code.code_snippet{
	position:relative;
	left:5%;
	color:purple;
	font-size:0.9em;
}

.github_banner{
	display:none;
}

#main_container{
	display:-ms-flex;
	display:-webkit-flex;
	display:-moz-flex;
	display:flex;
	flex-wrap:wrap;
	width:100%;
	outline:1px solid yellow;
}

#container_overlay{
	width:100%;
	background-image: url("../img/overlay-3.png");
	padding:50px 4%;
	vertical-align:top;
}

h2.tagline{
	width:100%;
	font-size:0.95em;
	margin:8% 6% 0 2%;
}

#body_cont{
	margin:0 auto;
	padding-top:100px;
	line-height:1.7em;
	word-spacing:0.2em;
	width:70%;
}

#body_cont h2{
	color:#ff9800;
}

#page_col{
	width:100%;
	font-size:16px;
	margin:0 auto;
}

#body{
	width:100%;
	font-size:16px;
}


/* Media Queries */

/* Tablets */
@media only screen and (min-width: 40.063em) and (max-width:64em){
	.github_banner{
		display:inline-block;
	}

	h1{
		font-size:4.5em;
	}

	pre{
		width:450px;
	}

	h2.tagline{
		margin: 3% 6% 0 2%;
	}

	.container_overlay{
		text-align:left;
		padding:100px 4% 4% 4%;
	}

	#body_cont{
		width:400px;
	}

}


/* Large screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em){
	
	h1{
		padding-top:50px;
	}

	#container_overlay{
		width:33.3%;
		text-align:left;
	}


	#body{
		width:60%;
		font-size:16px;
	}

	#body_cont{
		width:60%;
	}
}



